# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# Node
node_modules/
npm-debug.log*

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.local

# IDE
.vscode/
.idea/
